<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344147341716-g96kibq23814ponil6j02tpfff8glmqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344147341716-g96kibq23814ponil6j02tpfff8glmqg</string>
	<key>API_KEY</key>
	<string>AIzaSyADOWyAhFj13b2AM8Lpgd2JIT_p1wcHw4I</string>
	<key>GCM_SENDER_ID</key>
	<string>344147341716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DnDApp</string>
	<key>PROJECT_ID</key>
	<string>dndapp-c06bb</string>
	<key>STORAGE_BUCKET</key>
	<string>dndapp-c06bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344147341716:ios:0ba1b1234d22b2da3a9f81</string>
	<key>DATABASE_URL</key>
	<string>https://dndapp-c06bb.firebaseio.com</string>
</dict>
</plist>